* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    margin: 10px;
    background: rgb(190, 24, 65);
    background: radial-gradient(circle, rgb(176, 150, 0) 0%, rgb(37, 4, 94) 100%);
}

* {
    color: rgb(243, 244, 245);
}

.menu {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    position: fixed;
    top: 0px;
    background-color: rgb(167, 3, 93);
    width: 100%;
}

.menu :hover {
    color: rgb(74, 61, 133);
}

.workss :hover {
    color: rgb(26, 155, 101);
}

.workss {
    list-style: square;
}

#weaving {
    background-color: rgb(182, 27, 135);
    font-size: 30px;
}
#painting {
    background-color: rgb(73, 27, 182);
    font-size: 30px;
}

#drawing {
    background-color: rgb(33, 7, 146);
    font-size: 30px;
}
html {
    scroll-behavior: smooth;
}